body {
  background-color: white;
  margin: 0;
}

header {
  background-color: rgba(129, 174, 194, 0.548);
}

h1 {
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

#overview {
  text-align: center;
  margin-top: 80px;
}

#company {
  text-align: center;
  margin-top: 80px;
}

#team {
  text-align: center;
  margin-top: 80px;
}

#mgrProfile {
  text-align: center;
  padding-top: 30px;
}
